# Frontend Configuration
VITE_API_URL=http://localhost:3001

# Backend Configuration
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Supabase
SUPABASE_URL=http://localhost:54321
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# CRON Jobs
CRON_PAYMENT_GENERATION="0 */6 * * *"
