SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
CRON_PAYMENT_GENERATION=0 */6 * * *
WORKER_PORT=3002
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
ABACATE_PAY_API_KEY=
REMINDER_DAYS_BEFORE=1
